<div class="container">

	<div class="block-header">
		<h2>Photo Upload</h2>
	</div>

	<div class="card">
		<div class="card-header">
			<h2>
				Input Text <small>Text Inputs with different sizes by height and column.</small>
			</h2>
		</div>

		<div class="card-body card-padding">
			<p class="c-black f-500">Basic Text Feilds with different sizes by height and column.</p>
			<form action="generic/photo" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<div class="fg-line">
						<input type="file" name="file" class="form-control input-sm" placeholder="Input Small">
					</div>
				</div>
				<button>Submit</button>
			</form>

		</div>
	</div>
</div>
